body {
    background-color: #e0ebe8;
    color: #545454;
    margin-left: 0px;
    margin-top: 0px;
}

h1 {
    color: #74bdac;
    margin-left: 0px;
    margin-top: 0px;
}


p {
    color: #030c0a;
}

.cls {
    background-color: rgb(9, 126, 9);
    margin-left: 0px;
    margin-top: 0px;
}